<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Beats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1AA2555F1C40246300A7DAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AA255731C40246300A7DAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AA2557E1C40246300A7DAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
